:root {
  --color-blue: rgb(38, 0, 255);
  --color-dark-blue: rgba(0, 20, 49, 0.5);

  --border-width: 2px;
  --margin: 5px;

  --scroll-bar-width: 6px;

  font-size: 16px;
}
body {
  background-color: rgba(2, 1, 1, 0.781);
  color: #ffffff;
  font-family: victormono;
  margin: var(--margin);
}
* {
  box-sizing: border-box;
}

/*
 * Generic styling for links
 */
a {
  text-decoration: none;
  color: rgb(0, 210, 247);
}
a:not(.--nohover):hover {
  text-shadow:
    0 0 0.20em rgba(225, 140, 228, 1.0),
    0 0 0.25em rgba(247, 101, 252, 0.7),
    0 0 0.30em rgba(247, 101, 252, 0.5),
    0 0 0.40em rgba(247, 101, 252, 0.3),
    0 0 0.60em rgba(247, 101, 252, 0.2),
    0 0 1.00em rgba(247, 101, 252, 0.1);
  color: rgb(225, 140, 228);
  background-color: rgb(0, 195, 255);
  color: rgb(71, 2, 48) !important;
}
a:visited {
  color: rgb(255, 107, 131);
}

/*
 * Scrollbar
 */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background-color: rgb(7, 42, 95);
}
::-webkit-scrollbar {
  width: var(--scroll-bar-width);
  height: 6px;
  background-color: rgb(7, 42, 95);
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: rgba(1, 253, 198, 0.9);
}

/*
 * Generic styling for site bars
 */

.site-bar {
  width: 25%;
  overflow-x: visible;
  min-width: 0px;
  outline: 2px solid rgb(255, 170, 0);
}

@media only screen and (max-width: 1200px) {
  .site-bar {
    width: 0 !important;
    outline: none;
    visibility: hidden;
  }
}